name: Overweight Release

on:
  workflow_dispatch:

    inputs:
      dry-run:
        description: "Preview semantic-release without publishing or tagging."
        required: false
        default: true
        type: boolean

permissions:
  pull-requests: write
  contents: write

defaults:
    run:
        shell: bash

jobs:

  release:
    environment: "release"
    if: startsWith(github.ref, 'refs/heads/release-')
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run test
      - run: pnpm run build

      - name: Run semantic-release (dry run)
        if: ${{ !(inputs['dry-run'] == 'false' || inputs['dry-run'] == false) }}
        run: pnpm run release --dry-run

      - name: Run semantic-release
        if: ${{ inputs['dry-run'] == 'false' || inputs['dry-run'] == false }}
        run: |
          export NPM_TOKEN="${NODE_AUTH_TOKEN}"
          pnpm run release

