name: Overweight Release

on:
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

defaults:
    run:
        shell: bash

jobs:

  release:
    environment: "release"
    if: startsWith(github.ref, 'refs/heads/release-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run test
      - run: pnpm run build

      - run: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

